@charset "utf-8";

.num {
  font-family: 'Robot';
}

#header {
  position: relative;
  z-index: 100;
}
#header .top_hd {
  background: #333;
  color: #fff;
  overflow: hidden;
  height: 50px;
  font-family: 'Noto Sans KR';
  padding: 0 15px;
}
#header .top_hd .logo {
  float: left;
  vertical-align: middle;
  overflow: hidden;
}
#header .top_hd .logo img {
  display: block;
  height: 32px;
  margin-top: 9px;
}
#header .top_hd .gnb {
  float: right;
  overflow: hidden;
}
#header .top_hd .gnb p {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  font-size: 14px;
  color: #999;
}
#header .top_hd .gnb p strong {
  margin-right: 5px;
  color: #fff;
}
#header .top_hd .gnb a.logout {
  float: left;
  display: block;
  background: #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  margin-top: 10px;
  border-radius: 5px;
}
#header .top_hd .gnb a.logout:hover {
  background: #00a0e8;
  color: #fff;
}

.left_hd {
  position: absolute;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #f2f2f2;
  z-index: 99;
}
.left_hd .hd_tit {
  font-family: 'Noto Sans KR';
  text-align: center;
  padding: 15px 0;
  background: #fff;
}
.left_hd .hd_tit strong {
  display: block;
  font-size: 40px;
  color: #c2c2c2;
}
.left_hd .hd_tit span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 10px;
}
.left_hd .menu {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  letter-spacing: -0.6px;
}
.left_hd .menu dl {
  border-bottom: 1px solid #e2e2e2;
  font-family: 'Noto Sans KR';
}
.left_hd .menu dt {
  border-bottom: 1px solid #e2e2e2;
  font-size: 14px;
  background: #595959;
  color: #fff;
  padding: 10px;
}
.left_hd .menu dd {
  background: #fff;
}
.left_hd .menu dd ul li a {
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 10px;
  letter-spacing: -0.2px;
}
.left_hd .menu dd ul li:last-child a {
  border-bottom: 0px;
}
.left_hd .menu dd ul li a:hover {
  background: #f8f8f8;
}

#wrapper {
  position: relative;
  margin-left: 200px;
}

#container {
  position: relative;
  z-index: 98;
  width: 100%;
  border-left: 1px solid #bbb;
  min-height: 960px;
}

#container .navi {
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #e2e2e2;
  padding: 0 15px;
  background: #f2f2f2;
}
#container .navi ul {
  overflow: hidden;
  height: 32px;
  line-height: 32px;
}
#container .navi ul li {
  float: left;
  margin-right: 20px;
}

#container .contents {
  padding: 30px;
  min-height: 980px;
  font-size: 13px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #494949;
  letter-spacing: -1px;
}

/* 공통 테이블 css */

.h_table {
  border: 1px solid #aebebe;
  border-top: 1px solid #00a0e8;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.h_table thead td {
  border-bottom: 1px solid #aebebe;
  background: #edf3f5;
  padding: 15px 10px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 15px;
}
.h_table td {
  color: #494949;
  border-bottom: 1px solid #ccdddd;
  padding: 10px;
  border-right: 1px solid #e2e2e2;
  text-align: center;
}
.h_table tr:nth-child(2n) {
  background: #fafafa;
}
.h_table td:last-child {
  border-right: 0px;
}
.h_table tbody tr:last-child td {
  border-bottom: 0px;
}

.h_table .w_1x {
  width: 50px;
}
.h_table .w_2x {
  width: 100px;
}
.h_table .w_3x {
  width: 150px;
}
.h_table .w_4x {
  width: 200px;
}
.h_table .w_5x {
  width: 250px;
}
.h_table .w_10x {
  width: 500px;
}

.h_table .align_l {
  text-align: left;
}

.h_table a.in_btn {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  color: #494949;
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
}
.h_table a.in_btn:hover {
  border: 1px solid #0096d9;
  color: #0096d9;
}

.t_bottom {
  text-align: right;
  margin-top: 10px;
}
.t_bottom a {
  border-radius: 5px;
  display: inline-block;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  background: #393939;
  color: #fff;
  text-align: center;
}
.t_bottom a:hover {
  background: #191919;
}

td.no_item {
  font-size: 18px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  color: #999;
  padding: 30px 0;
}

.v_table {
  border: 1px solid #aebebe;
  border-top: 1px solid #00a0e8;
  background: #fff;
  border-radius: 5px;
}
.v_table td {
  padding: 10px;
  border-bottom: 1px solid #ccdddd;
}
.v_table tr:last-child td {
  border-bottom: 0px;
}
.v_table td.t1 {
  width: 150px;
  border-right: 1px solid #ccdddd;
  padding: 10px;
  background: #edf3f5;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 13px;
}
.v_table input {
  height: 30px;
  padding: 0 5px;
  border: 1px solid #ccdddd;
  border-radius: 3px;
}
.v_table input[type='text'] {
  width: 200px;
}
.v_table input[type='text']:focus {
  outline: #00a0e8;
  border: 1px solid #0096d9;
}

.calendar_wr .calendar_top {
  text-align: center;
  font-family: 'Noto Sans KR';
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid #e2e2e2;
  margin-bottom: 20px;
}
.calendar_wr .calendar_top a {
  display: inline-block;
}
.calendar_wr .calendar_top a.arr {
  font-size: 20px;
  border: 1px solid #e2e2e2;
  padding: 0 10px;
  color: #999;
  background: #fff;
}
.calendar_wr .calendar_top a.num {
  font-size: 20px;
  margin: 0 20px;
  font-family: 'Robot';
}
.calendar_wr .calendar_top a.num strong {
  color: #00a0eb;
}
.calendar_wr .calendar_top a.arr:hover {
  color: #494949;
}

.calendar_wr table {
  width: 100%;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
}

.calendar_wr table .hd td {
  width: 14.28571428571429%;
  padding: 15px 5px;
  text-align: center;
}

.calendar_wr table td {
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  text-align: center;
  padding: 0px;
  vertical-align: top;
}
.calendar_wr table td.t6 {
  background: #edf3f5;
}
.calendar_wr table td.t7 {
  background: #f5eded;
}

.calendar_wr table .day {
  background: #fff;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  border-bottom: 1px solid #ccdddd;
}
.calendar_wr table dd {
  width: 100%;
  display: table;
  min-height: 60px;
}

.calendar_wr table dd > div {
  display: table-cell;
  vertical-align: middle;
}

.calendar_wr table .price_wr td {
  font-size: 14px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
}
.calendar_wr table .price_wr td span {
  display: block;
  margin-bottom: 5px;
}
.calendar_wr table .price_wr td span:last-child {
  margin-bottom: 0px;
}
.calendar_wr table .price_wr td .price {
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: normal;
  color: #e3194d;
  font-family: 'Roboto';
}

.main .sales_state1 {
  margin-bottom: 50px;
}
.main .sales_state1 table {
  border-top: 1px solid #494949;
  border-left: 1px solid #e2e2e2;
}
.main .sales_state1 table td {
  width: 50%;
  height: 60px;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.main .sales_state1 .r1 td {
  background: #f2f2f2;
}
.main .sales_state1 .r2 td {
  font-size: 18px;
  font-weight: 600;
}
.main .sales_state1 .r2 td.t1 {
  color: #e3194d;
}
.main .sales_state1 .r2 td.t2 {
  color: #00a0e8;
}

.main .sales_state2 table {
  border-top: 1px solid #494949;
  border-left: 1px solid #e2e2e2;
}
.main .sales_state2 table td {
  height: 70px;
  text-align: center;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.main .sales_state2 table td strong {
  margin-right: 5px;
  color: #e3194d;
}
.main .sales_state2 table td.t1 {
  width: 40%;
  background: #f2f2f2;
}
.main .sales_state2 table td.t2 {
  font-size: 16px;
}
.main .sales_state2 .price {
  color: #e3194d;
}

.sub_page_title {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 15px;
  background: #fff;
}
.sub_page_title h2 {
  display: inline-block;
  letter-spacing: -1px;
  font-weight: 500;
}
.sub_page_title p {
  display: inline-block;
  margin-top: 10px;
  color: #888;
  margin-left: 10px;
}

.bottom_btns {
  margin: 20px 0;
  text-align: right;
  font-family: 'Noto Sans KR';
  position: relative;
}
.bottom_btns a {
  border-radius: 5px;
  display: inline-block;
  padding: 0 30px;
  border: 1px solid #c2c2c2;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  font-weight: 500;
}
.bottom_btns a:hover {
  border-color: #a2a2a2;
}

.bottom_btns a.eq_add_bt {
  background: #333;
  color: #fff;
  border-color: #292929;
}
.bottom_btns a.eq_add_bt:hover {
  background: #222;
}

.bottom_btns a.color_bt {
  border-color: #00a0e8;
  color: #00a0e8;
}
.bottom_btns a.color_bt:hover {
  background: #edf3f5;
}

.bottom_btns .paging_wr {
  position: absolute;
  left: 0px;
}
.bottom_btns .paging_wr span {
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d2d2d2;
  text-align: center;
  border-radius: 3px;
}
.bottom_btns .paging_wr span.active {
  font-weight: bold;
  border-color: #0096d9;
  color: #0096d9;
}

/* 장비관리 */

.eq_add table td.t1 {
  width: 180px;
  min-width: 180px;
}
.eq_add table td.t2 input {
  border: 1px solid #d2d2d2;
  width: 240px;
  height: 34px;
  padding: 0 5px;
}
.eq_add table td.t2 input:focus {
  background: #f2f2f2;
}
.eq_add table .eq_name .t2 input {
  width: 100%;
  max-width: 480px;
}
.eq_add table td.t2 select {
  height: 34px;
  width: 240px;
  border-color: #d2d2d2;
}
.eq_add table td span {
  margin-left: 10px;
  font-size: 12px;
  color: #888;
}
.eq_add table tr:last-child td {
  border-bottom: 0px;
}

.eq_add .eq_info1 {
  margin-bottom: 50px;
}

.eq_control h4 {
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 20px;
}
.eq_control ul li dl {
  overflow: hidden;
  border: 1px solid #ccdddd;
  border-top: 1px solid #00a0e8;
  position: relative;
  border-radius: 3px;
  background: #fff;
}
.eq_control ul li dl dt {
  background: #edf3f5;
  padding: 15px;
}
.eq_control ul li dl dt strong {
  font-size: 24px;
  font-family: 'Roboto';
  color: #00a0e8;
}
.eq_control ul li dl dt a {
  position: absolute;
  right: 15px;
  top: 16px;
  font-size: 18px;
  cursor: pointer;
}

.eq_control ul li dl dd.info {
  padding: 15px;
}
.eq_control ul li dl dd.info strong {
  display: block;
  font-size: 14px;
}
.eq_control ul li dl dd.info span {
  display: block;
  margin-top: 6px;
  color: #797979;
}
.eq_control ul li dl dd.mac {
  padding: 10px 15px;
  border-top: 1px solid #ccdddd;
}

.eq_control ul li.last {
  text-align: center;
}
.eq_control ul li.last dd.text {
  text-align: center;
  padding: 10px 15px;
  font-family: 'Noto Sans KR';
}
.eq_control ul li.last dd.text p {
  font-size: 18px;
  color: #888;
}
.eq_control ul li.last dd.btn {
  text-align: center;
  padding: 10px 15px;
  border-top: 1px solid #ccdddd;
}

.eq_control ul li.eq_add_btn a {
  display: block;
  height: 100%;
  border: 1px solid #e2e2e2;
  text-align: center;
}
.eq_control ul li.eq_add_btn a:hover {
  border-color: #d2d2d2;
}
.eq_control ul li.eq_add_btn strong {
  display: block;
  font-size: 50px;
  margin-top: 120px;
}
.eq_control ul li.eq_add_btn span {
  display: block;
  margin-top: 15px;
  font-family: 'Noto Sans KR';
  font-size: 18px;
  font-weight: 500;
}

.eq_con_popup {
  padding: 30px;
}
.eq_con_popup dt {
  margin-bottom: 15px;
}
.eq_con_popup dt span {
  font-size: 12px;
  color: #888;
}
.eq_con_popup input {
  display: block;
  border: 1px solid #d2d2d2;
  width: 100%;
  height: 40px;
  padding: 0 8px;
}
.eq_con_popup textarea {
  display: block;
  height: 200px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.eq_con_popup a {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #00a0e8;
  color: #fff;
  font-family: 'Noto Sans KR';
  font-size: 16px;
}
.eq_con_popup a:hover {
  background: #0096d9;
}

.ui.modal {
  border-radius: 5px;
  border-top: 2px solid #00a0e8;
}
.ui.modal .content {
  padding: 30px;
}

.eq_pd_list .ui.accordion title {
  display: block;
}

.eq_pd_list ul li {
  padding-top: 10px;
}
.eq_pd_list ul li dt {
  margin-bottom: 10px;
}
.eq_pd_list ul li dt strong.num {
  font-size: 18px;
  font-family: 'Roboto';
  margin-right: 5px;
  color: #00a0e8;
}
.eq_pd_list ul li dt strong.name {
  font-size: 16px;
  font-family: 'Noto Sans KR';
}

.pd_popup .in {
  padding: 30px 30px;
}
.pd_popup .hd {
  border-bottom: 1px solid #e2e2e2;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.pd_popup td {
  padding: 10px 0;
  position: relative;
}
.pd_popup td span {
  position: absolute;
  text-align: center;
  right: 0px;
  top: 10px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  border-left: 1px solid #e2e2e2;
}
.pd_popup td.t1 {
  width: 80px;
  font-size: 14px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
}
.pd_popup input {
  width: 100%;
  border: 1px solid #d2d2d2;
  height: 40px;
  padding: 0 10px;
}
.pd_popup input[type='number'] {
  padding-right: 50px;
}
.pd_popup a {
  cursor: pointer;
  margin-top: 30px;
  display: block;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background: #00a0e8;
}
.pd_popup a:hover {
  background: #0096d9;
}

.list_state {
  margin-bottom: 10px;
}
.list_state .state_nb strong {
  color: #e3194d;
}

.user_list_pop {
  background: #fff;
}
.user_list_pop .header strong {
  color: #00a0e8;
}
.user_list_pop .content {
  position: relative;
}
.user_list_pop .paging_wr {
  right: 0px;
  position: relative;
}
.user_list_pop tbody td {
  font-size: 12px;
}
.user_list_pop tbody td strong {
  display: block;
}
.user_list_pop tbody td span {
  display: block;
  color: #888;
  margin-top: 5px;
}
.user_list_pop tbody td.t3 {
  text-align: left;
}

.point_add table {
  border: 1px solid #e2e2e2;
  border-top: 2px solid #00a0e8;
}
.point_add table td {
  padding: 15px;
  border-bottom: 1px solid #e2e2e2;
}
.point_add table td.t1 {
  width: 150px;
}
.point_add table td.t2 input {
  border: 1px solid #e2e2e2;
  padding: 0 8px;
}
.point_add table .phone_nb input {
  height: 30px;
}
.point_add table .ui.checkbox {
  margin-top: 10px;
  font-size: 12px;
  vertical-align: middle;
}
.point_add table .point_in input {
  height: 30px;
  width: 300px;
}
.point_add table textarea {
  padding: 10px;
  max-width: 600px;
  min-width: 600px;
  width: 600px;
  border-color: #e2e2e2;
  height: 200px;
}

.sms_use table td.t1 {
  width: 150px;
}
.sms_use table td.t2 input {
  border: 1px solid #e2e2e2;
  padding: 0 8px;
}
.sms_use table .phone_nb input {
  height: 30px;
}
.sms_use table .point_in input {
  height: 30px;
  width: 300px;
}
.sms_use table textarea {
  padding: 10px;
  max-width: 600px;
  min-width: 600px;
  width: 600px;
  border-color: #e2e2e2;
  height: 200px;
}

.top_state {
  margin-bottom: 30px;
}
.top_state dl {
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
}

.top_state dl dt {
  padding: 15px 0;
  font-size: 13px;
  font-family: 'Noto Sans KR';
  font-weight: 500;
  color: #494949;
}
.top_state dl.blue {
  border: 1px solid #ccdddd;
  border-top: 1px solid #00a0e8;
}
.top_state dl.blue dt {
  border-bottom: 1px solid #ccdddd;
  background: #edf3f5;
}

.top_state dl.red {
  border: 1px solid #dac1c1;
  border-top: 1px solid #e3194d;
}
.top_state dl.red dt {
  border-bottom: 1px solid #dac1c1;
  background: #f5ecef;
}
.top_state dl.red dd strong {
  color: #e3194d;
}

.top_state dl dd {
  padding: 20px 0;
}
.top_state dl dd strong {
  font-family: 'Roboto';
  font-size: 18px;
  margin-right: 5px;
  color: #00a0e8;
}

.search_bar table .t1 {
  width: 150px;
}
.search_bar table .t2 input {
  width: 300px;
  padding: 0 10px;
  height: 32px;
  border: 1px solid #e2e2e2;
  vertical-align: middle;
}
.search_bar table .t2 a {
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  padding: 0 15px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #d2d2d2;
}
.search_bar table .t2 a:hover {
  background: #f2f2f2;
}

.period_sales > div {
  margin-bottom: 40px;
}
.period_sales .grap_box {
  min-height: 100px;
  border: 1px solid #e2e2e2;
  padding: 20px;
  margin-top: 10px;
}

.search_box {
  margin-bottom: 30px;
}
.search_box table .t1 {
  width: 150px;
}
.search_box table .t2 input {
  height: 32px;
  padding: 0 10px;
  border: 1px solid #e2e2e2;
}
.search_box table .btn td {
  text-align: center;
}
.search_box table .btn td a {
  display: inline-block;
  width: 300px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #292929;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Noto Sans KR';
}

.search_box .vdp-datepicker__calendar {
  width: 400px;
}

.search_box .vdp-datepicker__calendar header {
  display: table;
  width: 100%;
}
.search_box .vdp-datepicker__calendar header span {
  display: table-cell;
  width: 33.3333333334%;
  margin: 0px;
}

.search_box .date .t2 input {
  margin-right: 5px;
  float: left;
}

.real_time_list table .t1 {
  width: 80px;
}
.real_time_list table .hd .t2 {
  width: 150px;
}
.real_time_list table .t2 strong {
  font-size: 12px;
}
.real_time_list table .t8 strong {
  color: #e3194d;
  margin: 0px;
  font-family: 'Robot';
  font-size: 16px;
}

.real_time_list table strong {
  font-weight: 600;
  font-size: 12px;
}
.real_time_list .h_table span {
  margin-left: 5px;
  font-size: 12px;
  color: #888;
}

.cost_list .cost_list_hd {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.cost_list .cost_list_hd .hd_left a {
  display: inline-block;
  vertical-align: middle;
}
.cost_list .cost_list_hd .hd_left .yeal {
  font-size: 40px;
  font-family: 'Roboto';
  padding: 0 50px;
}
.cost_list .cost_list_hd .hd_left .arr {
  font-size: 18px;
}

.cost_list .cost_list_hd .hd_right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.cost_list .cost_list_hd .hd_right strong {
  font-size: 24px;
  font-family: 'Roboto';
  margin-left: 10px;
  color: #e3194d;
}

.cost_list .h_table strong {
  color: #e3194d;
}

.cost_popup dt {
  border-bottom: 1px solid #ccdddd;
  padding: 10px;
  text-align: center;
}
.cost_popup dt strong {
  font-size: 24px;
  font-family: 'Roboto';
  margin-left: 10px;
  color: #0096d9;
}

.cost_popup dd {
  padding: 20px 30px 30px 30px;
}
.cost_popup dd li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #ccdddd;
}
.cost_popup dd li:last-child {
  border-bottom: 0px;
}
.cost_popup dd li strong {
  float: left;
  font-size: 12px;
  line-height: 28px;
}
.cost_popup dd li span {
  float: right;
}
.cost_popup dd li span input {
  border: 1px solid #ccdddd;
  height: 28px;
  text-align: center;
  border-radius: 3px;
}
.cost_popup dd a {
  margin-top: 20px;
  display: block;
  background: #0096d9;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}

.cost_add dl {
  margin-bottom: 40px;
}
.cost_add dt {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Noto Sans KR';
}
.cost_add dl dt {
  display: inline-block;
  margin-right: 30px;
  color: #494949;
}
.cost_add dl dt strong select {
  cursor: pointer;
  border: 0px;
  font-size: 32px;
  font-family: 'Roboto';
  color: #00a0eb;
}
.cost_add dl dt strong select option {
  font-size: 18px;
}
.cost_add dl .total strong {
  font-size: 18px;
  font-family: 'Roboto';
  color: #e3194d;
}
